<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECG Arrhythmia Classification</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
<body>

    <div class="header">
        <h1>ECG Arrhythmia Classification</h1>
        <nav>
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('svm') }}">SVM</a>
                <a href="{{ url_for('knn') }}">KNN</a>
                <a href="{{ url_for('lr') }}">Logistic Regression</a>
                <a href="{{ url_for('gnb') }}">Gaussian Naive Bayes</a>
                <a href="{{ url_for('dt') }}">Decision Tree</a>
                <a href="{{ url_for('rf') }}">Random Forest</a>
                <a href="{{ url_for('ada') }}">Adaboost</a>
                <a href="{{ url_for('grad') }}">Gradient Boosting</a>
                <a href="{{ url_for('xg') }}">XGBoost</a>
                <a href="{{ url_for('cat') }}">CatBoost</a>
            </nav>            
    </div>
    <div class="container">
        <h2>Gradient Boosting - ECG Arrhythmia Classification</h2>
        <p>Gradient Boosting is an ensemble learning method that builds models sequentially, correcting errors made by previous models. It combines weak models to create a strong predictive model, reducing bias and variance.</p>
        
        <div class="metrics">
            <h3>Performance Metrics</h3>
            
            <h4>Train Data:</h4>
            <table>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>90.82%</td>
                </tr>
                <tr>
                    <td>Precision</td>
                    <td>90.92%</td>
                </tr>
                <tr>
                    <td>Recall</td>
                    <td>90.82%</td>
                </tr>
                <tr>
                    <td>F1 Score</td>
                    <td>90.84%</td>
                </tr>
            </table>
            
            <h4>Test Data:</h4>
            <table>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>86.47%</td>
                </tr>
                <tr>
                    <td>Precision</td>
                    <td>86.82%</td>
                </tr>
                <tr>
                    <td>Recall</td>
                    <td>86.47%</td>
                </tr>
                <tr>
                    <td>F1 Score</td>
                    <td>86.52%</td>
                </tr>
            </table>
        </div>
        

        <h3>Confusion Matrix</h3>
        <img src="{{ url_for('static', filename='images/gb.png') }}" alt="Gradient Boosting Confusion Matrix">
    </div>
</body>
</html>
