<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECG Arrhythmia Classification</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
<body>

    <div class="header">
        <h1>ECG Arrhythmia Classification</h1>
        <nav>
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('svm') }}">SVM</a>
                <a href="{{ url_for('knn') }}">KNN</a>
                <a href="{{ url_for('lr') }}">Logistic Regression</a>
                <a href="{{ url_for('gnb') }}">Gaussian Naive Bayes</a>
                <a href="{{ url_for('dt') }}">Decision Tree</a>
                <a href="{{ url_for('rf') }}">Random Forest</a>
                <a href="{{ url_for('ada') }}">Adaboost</a>
                <a href="{{ url_for('grad') }}">Gradient Boosting</a>
                <a href="{{ url_for('xg') }}">XGBoost</a>
                <a href="{{ url_for('cat') }}">CatBoost</a>
            </nav>            
    </div>
    <div class="container">
        <h2>K-Nearest Neighbors (KNN) Model</h2>
        <p>KNN is a simple, non-parametric algorithm that classifies data based on the closest labeled points in the feature space.</p>
        
        <div class="metrics">
            <h3>Performance Metrics (Train)</h3>
            <table>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>98.9010%</td>
                </tr>
                <tr>
                    <td>Precision</td>
                    <td>98.9190%</td>
                </tr>
                <tr>
                    <td>Recall</td>
                    <td>98.9010%</td>
                </tr>
                <tr>
                    <td>F1 Score</td>
                    <td>98.8943%</td>
                </tr>
            </table>
        </div>
        
        <div class="metrics">
            <h3>Performance Metrics (Test)</h3>
            <table>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>90.3800%</td>
                </tr>
                <tr>
                    <td>Precision</td>
                    <td>90.9323%</td>
                </tr>
                <tr>
                    <td>Recall</td>
                    <td>90.3800%</td>
                </tr>
                <tr>
                    <td>F1 Score</td>
                    <td>90.3822%</td>
                </tr>
            </table>
        </div>
        
        
        
        <div class="confusion-matrix">
            <h3>Confusion Matrix</h3>
            <img src="{{ url_for('static', filename='images/knn.png') }}" alt="KNN Confusion Matrix">
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 ECG Arrhythmia Classification | All Rights Reserved</p>
    </div>
</body>
</html>